# Mat loading test

In [1]:
import h5py
import numpy as np
import pandas as pd

print("Imports finished")

Imports finished

In [2]:
variables = ['lon', 'lat', 'dynht300_1500', 'Tint', 'Sint', 'dectime']
mat = h5py.File("SO_ARGO_all.mat")
mat.keys()

<KeysViewHDF5 ['#refs#', 'MLD', 'MLDmax_from_grid', 'P', 'PTint', 'Sint', 'Tint', 'dectime', 'dynht300_1500', 'gammaint', 'gamman', 'lat', 'lon', 'maxpresslevel', 'numpresslevels', 'press', 'psal', 'ptemp', 'pvortint', 'temp']>

In [3]:
mat["lat"]

In [4]:
refsNP = np.array(mat["#refs#"]).flatten()
latNP = np.array(mat["lat"]).flatten()
lonNP = np.array(mat["lon"]).flatten()
tempNP = np.array(mat["temp"]).flatten()
timeNP = np.array(mat["dectime"]).flatten()
#TintNP = np.array(mat["Tint"]).flatten()
tempNp = np.array(mat["temp"])

In [5]:
tempNp

array([[<HDF5 object reference>],
       [<HDF5 object reference>],
       [<HDF5 object reference>],
       ...,
       [<HDF5 object reference>],
       [<HDF5 object reference>],
       [<HDF5 object reference>]], dtype=object)

In [6]:
np.array(tempNp[0][0])

array(<HDF5 object reference>, dtype=object)

<br>

In [7]:
df = pd.DataFrame()
#df["#refs#"] = refsNP
df["Lon"] = lonNP
df["Lat"] = latNP
#df["time"] = timeNP
#df["Tint"] = TintNP

In [8]:
df

               Lon        Lat
0        51.946999 -45.966000
1        51.582001 -45.755001
2        51.514000 -45.618000
3        51.548000 -45.588001
4        51.466999 -45.645000
...            ...        ...
290515  103.670000 -63.492000
290516  102.676000 -63.183000
290517  103.065000 -62.209000
290518  102.403000 -62.492000
290519  103.233000 -61.967000

[290520 rows x 2 columns]

In [9]:
df.drop_duplicates()

               Lon        Lat
0        51.946999 -45.966000
1        51.582001 -45.755001
2        51.514000 -45.618000
3        51.548000 -45.588001
4        51.466999 -45.645000
...            ...        ...
290515  103.670000 -63.492000
290516  102.676000 -63.183000
290517  103.065000 -62.209000
290518  102.403000 -62.492000
290519  103.233000 -61.967000

[290388 rows x 2 columns]